@media screen and (max-width: 676px) {
  .tips {
    flex-direction: column;
  }

  .tips .divmateriales,
  .tips .divlavado {
    width: 300px;
    height: auto;
    margin: 5px;
  }
}

@media screen and (max-width: 499px) {
  .carousel-inner .carousel-item img {
    padding: 5px;
  }
}

@media screen and (max-width: 556px) {
  .informacion {
    margin: 1px;
    padding: 1px;
  }

  .informacion h3 {
    font-size: 15px;
  }

  .informacion a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 10px;
  }

  .seguinos {
    margin: 1px;
    padding: 1px;
  }

  .seguinos h3 {
    font-size: 15px;
  }

  .seguinos a img {
    width: 35px;
    height: auto;
  }

  .ubicacion {
    margin: 1px;
    padding: 1px;
  }

  .ubicacion h3 {
    font-size: 15px;
  }

  .ubicacion iframe {
      width: 80px !important;
      height: 80px !important;
    }
  }

@media screen and (max-width: 1050px) {
  .productos{
    .catalogo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 400px){
  .formulario-contacto {
    padding: 20px;

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 10px;
    }
}
}